body {
    font-family: Pretendard, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 960px;
    margin: auto;
    padding: 60px 30px 0 30px;
    color: darkslategray;
}

code, pre {
    font-family: 'NeoDunggeunmo Code', 'Courier New', Courier, monospace;
    display: block;
    border-radius: 6px;
    padding: 16px 32px 16px 32px;
    line-height: 1.5em;
    background-color: darkslategray;
    color: lightgoldenrodyellow;
}

blockquote {
    margin: 0;
    padding: 16px 32px 16px 32px;
    border-radius: 6px;
    line-height: 1.5em;
    background-color: lightgoldenrodyellow;
    border-left: 4px solid darkslategray;
}

.snake-img {
    width: 100%;
}